<div class="hero-image">
  <div class="hero-text">
    <div class="row m-0">
      <div class="col">

        <h1 class="h1">
          ¡Me intriga saber tus gustos musicales!
          <i class="fas fa-surprise"></i>
        </h1>
        <div class="form-group">
          <button type="button" class="btn btn-success white-text mx-auto" data-toggle="modal"
            data-target="#basicExampleModal">
            Más Info
          </button>
        </div>
        <small class="px-2">(Por favor si escuchas reggaeton visita otra página, asi me dijo una najaja.)</small>
      </div>
    </div>
  </div>
</div>

{{> footer}}



<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preguntas Frecuentes:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="p-0 list-unstyled">
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Qué es esto?</span>
            </div>
          </li>
          <li class="mb-3">
            <div class="form-group">
              <img src="/img/nel.jpg" alt="nel" class="img-info">
            </div>
            <div class="form-group">
              <small>Es una página web donde publicas tus 5 canciones favoritas y todos los pueden ver :)
              </small>
            </div>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Solo sirve para publicar mis 5 canciones favoritas?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>Si coño >:v y que todo mundo vea tu horrible gusto musical. (najaja mentira)</small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Por qué hiciste esta página web?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>De loco noma, najaja mentira. Viendo una serie de tutoriales en youtube para hacer cierta cosa usando
              ciertas tecnologías y herramientas, me dije a mi mismo que debía practicar haciendo un proyecto, no tan
              complejo pero tampoco tan sencillo para aplicar lo aprendido.</small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Vas a mejorar la página?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>
              Claro que si, de hecho mi idea es hacer algo más complejo como una Red Social, con registro de usuario,
              editar y eliminar ciertas cosas y añadirle varias funcionalidades pero poco a poco ;)
            </small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Que quiere decir 5 Fav?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>
              Según yo, "5 Favoritas xd" haciendo referencia a tus cinco canciones favoritas meh era ese nombre o
              FaceMusik ajajaj
            </small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Que técnologias usaste para hacer tu página web?</span>
            </div>
          </li>

          <li>
            <div class="row mb-4">
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-html5 h2"></i>
                </div>
                <small>HTML5</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-css3-alt h2"></i>
                </div>
                <small>CSS3</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-mdb h2"></i>
                </div>
                <small>MdBootstrap</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-js h2"></i>
                </div>
                <small>Javascript</small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="icon-heroku h2"></i>
                </div>
                <small>Heroku</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="icon-mongodb h2"></i>
                </div>
                <small>MongoDB</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="icon-npm h2"></i>
                </div>
                <small>NPM</small>
              </div>
              <div class="col text-center">
                <div class="form-group">
                  <i class="fab fa-node-js h2"></i>
                </div>
                <small>Node Js</small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-facebook h2"></i>
                </div>
                <small>FB API</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>





{{!-- 
<section class="section">
  <div class="row m-0">
    <div class="col">
      sadf
    </div>
  </div>
</section> --}}