<div class="hero-image">

  <div class="hero-text">
    <div class="form-group">
      <div class="row">
        <div class="col-11 col-sm-6 mx-auto">
          {{> messages }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <h2 class="h2">¡Me intriga saber tus gustos musicales!</h2>
    </div>
    <div class="form-group">
      <p>¿Puedes hacer un top 5 de tus canciones favoritas?</p>
    </div>
    <a href="/post" class="btn btn-success light-text btn-sm" data-toggle="modal" data-target="#basicExampleModal">¿QUE ES
      ESTO?</a>
    <a href="/post" class="btn btn-success light-text btn-sm">PUBLICAR</a>
    <div class="form-group p-2">
      <small class="text-success font-weight-bold z-depth-1 ">(Por favor si escuchas reggaeton visita otra página,
        asi me dijo una najaja.)</small>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preguntas Frecuentes:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="p-0 list-unstyled">
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Qué es esto?</span>
            </div>
          </li>
          <li class="mb-3">
            <div class="form-group">
              <img src="/img/nel.jpg" alt="nel" class="img-info">
            </div>
            <div class="form-group">
              <small>Es una página web donde publicas tus 5 canciones favoritas y todos los pueden ver :)
              </small>
            </div>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Solo sirve para publicar mis 5 canciones favoritas?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>Si coño >:v y que todo mundo vea tu horrible gusto musical. (najaja mentira)</small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Por qué hiciste esta página web?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>De loco noma. Viendo una serie de tutoriales en youtube para hacer cierta cosa, usando
              ciertas tecnologías y herramientas, me dije a mi mismo que debía practicar haciendo un proyecto, no tan
              complejo pero tampoco tan sencillo para aplicar lo aprendido.</small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Vas a mejorar la página?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>
              Claro que si, de hecho mi idea es hacer algo más completo como una Red Social, con registro de usuario,
              editar, eliminar bla bla... y añadirle varias funcionalidades pero poco a poco ;)
              (pero probablemente lo deje así por flojera ajaja, de nuevo, mi objetivo es simplemente poner en práctica lo aprendido. )
            </small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Que quiere decir 5 Fav?</span>
            </div>
          </li>
          <li class="mb-3">
            <small>
              Según yo, "5 Favoritas xd" haciendo referencia a esas cinco canciones o quizás más, que uno siempre se acuerda cuando le preguntan, ¿Qué canción me recomendas? o simplemente esas canciones que siempre tenemos en la cabeza justo cuando estamos dando un examén de Programación III, meh esa solo me pasa a mi xd
            </small>
          </li>
          <li class="media mb-3">
            <i class="fas fa-question-circle mr-3 blue-text lnzero"></i>
            <div class="media-body">
              <span class="font-weight-bold">¿Que técnologias usaste para hacer tu página web?</span>
            </div>
          </li>

          <li>
            <div class="row mb-4">
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-html5 h2"></i>
                </div>
                <small>HTML5</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-css3-alt h2"></i>
                </div>
                <small>CSS3</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-mdb h2"></i>
                </div>
                <small>MdBootstrap</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-js h2"></i>
                </div>
                <small>Javascript</small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="icon-heroku h2"></i>
                </div>
                <small>Heroku</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="icon-mongodb h2"></i>
                </div>
                <small>MongoDB</small>
              </div>
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="icon-npm h2"></i>
                </div>
                <small>NPM</small>
              </div>
              <div class="col text-center">
                <div class="form-group">
                  <i class="fab fa-node-js h2"></i>
                </div>
                <small>Node Js</small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-3 text-center">
                <div class="form-group">
                  <i class="fab fa-facebook h2"></i>
                </div>
                <small>FB API</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{{> footer}}