<div class="hero-image">
  <div class="hero-text">

    <div class="row">
      <div class="col-11 col-sm-6 mx-auto">
        {{> messages }}
      </div>
    </div>

    <div class="row m-0" id="divPost">
      <div class="col">
        <div class="form-group">
          <h1 class="h1">Inicia Sesión con Facebook para poder publicar</h1>
        </div>
        <div class="form-group">
          <small>(Mark zukaritas roba tus datos, yo no ;)</small>
        </div>
        <div class="form-group">
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
        </div>
      </div>
    </div>

    <div class="row m-0" id="FormularioPost">
      <div class="col-12 col-md-6 col-xl-4 mx-auto">
        <button class="btn btn-success white-text" data-toggle="modal" data-target="#modalPost">Publicar</button>

      </div>
    </div>
  

  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalPost" tabindex="-1" role="dialog" aria-labelledby="modalPost" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5" id="exampleModalLabel"><i>5 Favoritas</i> <i
            class="ml-3 fas fa-smile-wink"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="text-center" action="/post/add" method="POST">
          <ul class="p-0">

            <li class="media mb-3">
              <i class="icon-music_note lnzero bg-success white-text mr-3 px-1 rounded-circle"></i>
              <div class="media-body">
                <input type="text" name="song1" class="form-control form-control-sm" placeholder="Cancion 1" required>
              </div>
            </li>

            <li class="media mb-3">
              <i class="icon-music_note lnzero bg-success white-text mr-3 px-1 rounded-circle"></i>
              <div class="media-body">
                <input type="text" name="song2" class="form-control form-control-sm" placeholder="Cancion 2" required>
              </div>
            </li>

            <li class="media mb-3">
              <i class="icon-music_note lnzero bg-success white-text mr-3 px-1 rounded-circle"></i>
              <div class="media-body">
                <input type="text" name="song3" class="form-control form-control-sm" placeholder="Cancion 3" required>
              </div>
            </li>

            <li class="media mb-3">
              <i class="icon-music_note lnzero bg-success white-text mr-3 px-1 rounded-circle"></i>
              <div class="media-body">
                <input type="text" name="song4" class="form-control form-control-sm" placeholder="Cancion 4" required>
              </div>
            </li>

            <li class="media mb-3">
              <i class="icon-music_note lnzero bg-success white-text mr-3 px-1 rounded-circle"></i>
              <div class="media-body">
                <input type="text" name="song5" class="form-control form-control-sm" placeholder="Cancion 5" required>
              </div>
            </li>


          </ul>


          <input type="hidden" id="name" name="name">
          <input type="hidden" id="email" name="email">
          <input type="hidden" id="picture" name="picture">
          <input type="hidden" id="date" name="date">

          <button type="submit" class="btn btn-primary btn-block white-text">Publicar</button>
        </form>
      </div>
    </div>
  </div>