<!-- Footer -->
<footer class="page-footer font-small bg-dark fixed-bottom">

  <div class="container">
    <div class="row">

      <div class="col-md-12 py-1">
        <div class="mb-5 flex-center">

          <a href="https://www.facebook.com/nelwey1234" class="fb-ic" target="_blank">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <a href="https://www.freecodecamp.org/nelwey" class="gplus-ic" target="_blank">
            <i class="fab fa-free-code-camp fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <a href="https://github.com/Nelwey" class="li-ic" target="_blank">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <a href="https://www.instagram.com/nelwey.js/" class="ins-ic" target="_blank">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <a href="https://dev.to/nelwey" class="pin-ic" target="_blank">
            <i class="fab fa-dev fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a href="https://codepen.io/Nelwey" class="pin-ic" target="_blank">
            <i class="fab fa-codepen fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://nelwey.github.io/portFolio0/" target="_blank"> nelwey</a>
  </div>
</footer>