 <nav class="navbar navbar-dark primary-color fixed-top py-3">
    <a class="navbar-brand font-weight-bold z-depth-2 rounded py-1 px-2" href="/"><sup
        class="bg-success px-1 rounded">5</sup><i>Fav</i></a>

    <ul class="nav white-text ml-auto">

      <li class="nav-item active">
        <a href="/posts" class="btn btn-success btn-sm">Publicaciones</a>
      </li>
    </ul>
  </nav>